doctype html
head
    link(rel="stylesheet" href="/bootstrap.min.css")
    script(src="/bootstrap.min.js")
    link(rel="stylesheet" href="/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/parsleyjs@2.9.2/dist/parsley.css')
    script(src='https://cdn.jsdelivr.net/npm/parsleyjs@2.9.2/dist/parsley.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
    link(rel='stylesheet' href='/style.css')
    title Home
body
    header 
        nav(class='navbar navbar-expand-lg navbar-dark bg-dark').container-fluid
            button.text-white(class='navbar-toggler', type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.text-white(class='navbar-toggler-icon')
            .collapse.navbar-collapse.justify-content-center(id='navbarNavAltMarkup')
                .navbar-nav
                    a.text-white(class='nav-link', href='http://localhost:3000/products/cart') Cart
                    a.text-white(class='nav-link', href='http://localhost:3000/') Products
    block content